.section-outer {
  width: 90vw;
  margin: 0 auto;
}

.section {
  max-width: 1100px;
  margin: 0 auto;
}

.section-inner {
  padding: 50px;
  margin: 0 auto;
  background-color: #FFF;
}

.section-inner--site-header {
  background-color: transparent;
}

